<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de prueba</title>
</head>
<body>
    
    <form action="/proyecto/infoformulario/" method="post"> {% csrf_token %} 

        <input type="text" placeholder="Ingrese su nombre"name= "nombre">
        <input type="email" placeholder="Ingres su email" name="email">
        <input type="password" placeholder="Ingrese su contraseña" name="password">
        <input type="submit" value="enviar">
 
    </form>

</body>
</html>